<div class="relative flex flex-col items-center justify-center bg-white rounded-lg shadow-md p-4">
  <h2 class="text-lg font-bold mb-2">{{ book.title | uppercase  }}</h2>
  <div class="flex items-center justify-center p-4 w-64 h-96">
    <img
      [alt]="book.title"
      [bookImageHover]="['opacity-25', 'border-amber-500', 'border-4','hover:scale-110']"
      [src]="book.imgSource"
      class="w-full h-full object-fill"
    >
  </div>
  <div class="flex justify-between items-center">
    <div class="mt-5 h-20 text-gray-400 flex justify-center">
      <div *ngFor="let author of book.authors | sort">
        <p> {{ author }} </p>
      </div>
    </div>
  </div>
  <div>
    <button
      (click)="!isSelectedBook ? addBookToList() : removeBookFromList()"
      [ngClass]="{ 'bg-red-500 hover:bg-red-700': isSelectedBook}"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4">
      {{ isSelectedBook ? 'Remove' : 'Add' }}
    </button>
  </div>
  <div
    class="absolute w-14 h-14 bottom-0 right-0 bg-gray-800 rounded-ss-3xl font-bold text-white text-sm py-4 px-2 flex justify-center items-center">
    {{ book.price | currency: 'USD' }}
  </div>
</div>




